/* Level colors */
.sContent .Level0 > a{color:#DD0000;}
.sContent .Level1 > a{color:#BC0413;}
.sContent .Level2 > a{color:#A80613;}
.sContent .Level3 > a{color:#6B0C14;}
.sContent .Level4 > a{color:#421015;}
.sContent .Level4 > a{color:#1A1416;}
.sContent .Level5  a{color:#220000;}

/* Active Item*/
.sContent .Active > a{color:#ff8800; text-decoration:underline;}

/* Parent of Active Item */
.sContent .Active.Parent > a{color:#FF5400;}

